crate-docs-theme>=0.41

# Comment the first line and uncomment and adjust path in the following line
# to use a local version of crate-docs-theme:
# -e file:/Users/yourpath/crate-docs-theme

# cache-buster-20240305
# Remark: Used for PyPI download cache busting on GHA.
