name: nightly

on:
  schedule:
    - cron: '0 7 * * *'

  # Allow job to be triggered manually.
  workflow_dispatch:

# Cancel in-progress jobs when pushing to the same branch.
concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  documentation:

    name: Run link checker
    runs-on: ubuntu-latest

    steps:
      - name: Acquire sources
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          cache-dependency-glob: |
            docs/requirements.txt
          enable-cache: true
          version: "latest"

      - name: Build docs
        run: |
          cd docs && make check
